<div class="container">
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card shadow-effect mt-5">
        <div
          class="card-body text-center bg-secondary-theme cursor-pointer"
          routerLink="/categories"
        >
          <h1>
            <i class="fa-solid fa-clipboard-list" style="color: #a141e1"></i>
          </h1>
          <h2 class="text-theme-primary">Category</h2>
          <p>Manage Your Category Details Here</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-5">
      <div class="card shadow-effect mt-5">
        <div
          class="card-body text-center bg-secondary-theme cursor-pointer"
          routerLink="/posts"
        >
          <h1>
            <i class="fa-solid fa-file-image" style="color: #a141e1"></i>
          </h1>
          <h2 class="text-theme-primary">Posts</h2>
          <p>Manage Your Posts Details Here</p>
        </div>
      </div>
    </div>
  </div>
</div>
