<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-secondary-theme shadow-effect">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All blog posts</h3>
          <p>From here you can manage your blog posts</p>

          <div *ngIf="posts.length > 0">
            <div *ngFor="let post of posts">
              <p>{{ post.title }}</p>
              <p>{{ post.content }}</p>
              <p>{{ post.category }}</p>
            </div>
          </div>

          <button
            class="btn btn-info bg-theme text-white"
            routerLink="/posts/create"
          >
            Add new post
          </button>
          <button class="btn btn-warning ms-2 text-white" routerLink="/">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
